* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f4f6;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
    padding: 50px;
    
}

.divLogin {
    border: solid 1px;
    border-radius: 10px;   
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px;
    border-color: lightgray;
}

.divLogin h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.labels {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.inputFields {
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    border: solid 2px;
    border-color: lightgray;
}

.divLogin button {
    border-radius: 25px;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    width: 100%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.logo {
    width: 150px;
    height: 150px;
}

.popup {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: #2563eb;
     color: white;
     padding: 15px;
     border-radius: 4px;
     box-shadow: 0 2px 8px rgba(0,0,0,0.3);
     z-index: 1000;
}

/* style.css */
.popup {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.popup.visible {
  opacity: 1;
}

.popup.fade-out {
  opacity: 0;
}
