<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management</title>
    <link rel="stylesheet" href="/css/attendance-style.css">
    <script src="/js/monthListener.js"></script>
</head>
<body>

<div class="popup">
    <label>Result Message Here</label>
</div>

<div class="dashboard">
    <aside class="sidebar">
        <div class="logo-div">
            <img class="logo" th:src="@{/images/motorphlogo.png}" alt="MotorPH Logo">
        </div>
        <h2>MotorPH</h2>
        <nav>
            <a th:href="@{/dashboard}" class="navbutton">Dashboard</a>
            <a th:href="@{/profile}" class="navbutton">Profile</a>
            <a th:href="@{/employees}" class="navbutton">Employees</a>
            <a href="#" class="active">Attendance</a>
            <a href="/payslip" class="navbutton">Payslip</a>
            <form th:action="@{/logout}" method="post">
                <button class="navbutton" type="submit">Logout</button>
            </form>
        </nav>
    </aside>

    <main class="main-content">
        <header>
            <h1>Attendance</h1>
        </header>

        <!-- Employee Table -->
        <section class="cards">
            <div class="semi-header">
                <h3 id="hoursWorked" th:text="'Hours Worked: ' + ${#numbers.formatDecimal(hoursWorked, 1, 2)} + ' Hours'"></h3>
                <form id="monthForm" method="get" th:action="@{/attendance/filter}">
                    <input type="month" name="monthPicker" id="monthYear">
                </form>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Time-in</th>
                        <th>Time-out</th>
                    </tr>
                    </thead>
                        <tbody id="attendance-body" th:fragment="result">
                        <!-- Repeat this row for each employee -->
                        <tr th:each="attendance : ${attendances}">
                            <td th:text="${attendance.employee.id}"></td>
                            <td th:text="${attendance.date}"></td>
                            <td th:text="${attendance.timeIn}"></td>
                            <td th:text="${attendance.timeOut}"></td>
                        </tr>
                    <!-- More rows... -->
                        <span id="newHoursWorked"
                              th:attr="data-hours=${#numbers.formatDecimal(hoursWorked, 1, 2)}"
                              style="display: none;"></span>
                    </tbody>


                </table>
            </div>

        </section>
    </main>
</div>

</body>
</html>
