<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MotorPH Payroll System</title>
    <link rel="stylesheet" href="/css/style.css">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="container">
    <div class="divLogin">
        <img class="logo" th:src="@{images/motorphlogo.png}">
        <h2>Login to MotorPH</h2>
        <form th:action="@{/login}" method="post">
            <label id="username" class="labels">Username</label>
            <input class="inputFields" type="text" required name="username">
            <label class="labels">Password</label>
            <input class="inputFields" type="password" required name="password">
            <button type="submit">Login</button>
        </form>

    </div>
</div>
<div class="popup" th:if="${error}">
    Incorrect username or password!
</div>
</body>
</html>